{% extends "navigationbar.html" %}

{% block body %}
<div class="container" style="margin-top:50px">
<h2 class="text-center">About Us</h2>
<p>A doctor is a qualified professional trained to diagnose, treat, and prevent illnesses or injuries. They include medical physicians who practice medicine as well as individuals holding the highest academic degree (a doctorate) from a university.Types of Medical DoctorsGeneral Practitioners: Primary care physicians who serve as your first point of contact for routine health concerns.Specialists: Experts in specific areas of medicine (e.g., cardiologists for hearts, pediatricians for children, and dermatologists for skin).Dentists & Veterinarians: Professionals specialized in oral health and animal medicine, respectively.Locating a Doctor in NagpurIf you are currently looking to book an appointment with a local general physician or specialist in Nagpur, you can use these platforms to find verified doctors, check their availability, and view their consultation fees:Practo: View ratings, clinic locations, and available consultation times on the Practo Nagpur Doctors Direc</p>
</div>
{% endblock %}