{% extends "navigationbar.html" %}

{% block body %}

<div class="container" style="margin-top:50px">
    <h2 class="text-center">Add Doctor</h2>
    <br>

    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label>Doctor Name</label>
            <input type="text" class="form-control" name="name" required>
        </div>

        <div class="form-group">
            <label>Contact</label>
            <input type="text" class="form-control" name="contact" required>
        </div>

        <div class="form-group">
            <label>Specialization</label>
            <input type="text" class="form-control" name="special" required>
        </div>

        <br>

        <input type="submit" value="Submit" class="btn btn-primary form-control">
    </form>
</div>

{% if error == "no" %}
<script>
    alert('Record Saved Successfully');
    window.location = "{% url 'view_doctor' %}";
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Something went wrong, try again');
</script>
{% endif %}

{% endblock %}