{% extends "navigationbar.html" %}

{% block body %}
<div class="container" style="margin-top:50px">
<h2 class="text-center">Contact Us</h2>
<br><br>
<div class="row mt-5 text-center mydivstyle">
<div class="col-lg-3 col-sm-6">
    <h4><i class="fas-fa-phone-square"></i>  Contact</h4>
    <p class="mt-3 font-weight-bold"> <a class="text-danger" href ="tel:+91 9373221675">+91 9373221675 </a></p>
</div> 
<div class="col-lg-3 col-sm-6">
    <h4><i class="fas-fa-enalope"></i>  Send Email</h4>
    <p class="mt-3 font-weight-bold"> <a class="text-danger" href ="mailto:sanketwankhede144@gmail.com">sanketwankhede144@gmail.com</a></p>
</div> 

<div class="col-lg-3 col-sm-6">
    <h4><i class="fas-fa-address-card"></i>  Hospital Address</h4>
    <p class="mt-3 font-weight-bold"> <a class="text-danger" href ="http://maps.google.com/maps?q=Nagpur Maharashtra">Nagpur Maharashtra</a></p>
</div> 

<div class="col-lg-3 col-sm-6">
    <h4><i class="fas-fa-phone-square"></i>Office House</h4>
    <p class="mt-3 font-weight-bold"> <a class="text-danger">9:00AM to 10:00pm </p>
</div> 




</div>
</div>
{% endblock %}