.nav-link{
    color: white  !important;
}
.nav-link:hover{
    color: yellow  !important;
    background-color: lightblue;
    border-radius: 10px;
}
.navbar-brand:hover{
    color: yellow  !important;
    font-weight: bold;
}
 .mydivstyle:hover{
    box-shadow:0,0,20px 0 rgb(0, 0, 0,0.3);
    transform: translate(-20px);
 }
